/* main-slider */
.main-slider-wrap {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.main-slider {}

.slider-list {
    display: flex;
    width: 400%;

}

.arrow-btn {}

.arrow-btn>li>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-btn>.arrow-right>a {
    right: 20px;
}

.arrow-btn>.arrow-left>a {
    left: 20px;
}

.pager-btn {
    display: flex;
    position: absolute;
    left: 20px;
    bottom: 5rem;
    gap: 2rem;

}

.pager-btn>li>a {
    display: block;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 10px;
}

.pager-btn>.active>a {
    width: 60px;
    background-color: var(--main-color);
}

.scroll-wrap {
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: scrollAni 3s infinite alternate;
}

@keyframes scrollAni {
    0% {
        bottom: 50px;
        opacity: 0.3;
    }

    100% {
        bottom: 70px;
    }
}

.scroll-wrap>.scroll {
    width: 36px;
    height: 58px;
    border: 3px solid #fff;
    border-radius: 40px;
}

.scroll-wrap>.scroll>span {
    display: block;
    width: 2px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.scroll-wrap>p {
    color: #fff;
    font-size: 1.2rem;
}

/* container */
.container{
    overflow: hidden;
}
section{
    padding-bottom:10rem;
}


.section-title {
    font-size: var(--title-size);
    color: var(--main-color);
    padding: 10rem 0 6rem;
}

/* product-wrap */
.product {
    max-width: 1380px;
    margin: 0 auto;
}

.product-list {
    display: flex;
    gap: 4rem;
    /* justify-content: center; */
    align-items: center;
    transition: transform 0.5s;
}

.product-list-wrap {
    position: relative;
}

.product-list>li {
    background: #dfdfdf;
    border-radius: 40px;
    overflow: hidden;
    flex: 0 0 30%;
    /* 0 0 30% : flex-grow flex shrink flex-basis */
}

.product-list>.active {
    background-color: var(--main-color);
    flex: 0 0 35%;
}

.product-list>li .text-box {
    padding: 3.8rem;
    font-size: 1.4rem;

    .kind {
        display: inline-block;
        background-color: #fff;
        padding: 4px 30px;
        border-radius: 30px;

    }

    .product-title {
        font-size: 3rem;
        margin: 3rem 0;
        font-weight: 600;
    }
}

.product-list>.active .text-box .kind {
    color: #292929;
}

.product-list>.active {
    color: #fff;
}

.product-list>li .img-box {
    position: relative;
    background-color: #fff;

    .more-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        background-color: var(--sub-text-color);
        border-radius: 3rem;
        padding: 4px 12px;
        color: #fff;
        display: none;
    }
}

.product-list>li .img-box>img {
    width: 100%;
}

.product-list>.active .img-box .more-btn {
    display: block;
}

.product-arrow-list {}

.product-arrow-list>li>a {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.product-arrow-list>li:first-child>a {
    background: url(../images/btn-product-left.svg);
}

.product-arrow-list>li:last-child>a {
    background: url(../images/btn-product-right.svg);
    right: 0;
}

.product-arrow-list>li:first-child>a:hover {
    background: url(../images/btn-product-left-hover.svg);
}

.product-arrow-list>li:last-child>a:hover {
    background: url(../images/btn-product-right-hover.svg)
}


.product-pager {
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    ;
}

.product-pager>li>a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.product-pager>.active>a {
    background-color: var(--main-color);
}

/* promotion-wrap{} */
.promotion-wrap {
    background-color: #f3f3f3;
}

.promotion-movie {
    position: relative;
    width:80%;
    margin: 0 auto;
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;

    .promotion {
        position: absolute;
        background: var(--main-color);
        color: #fff;
        padding: 5rem;
        border-radius: 3rem;
        font-size: 2.4rem;
        left:0;
        top:50%;
        transform: translateY(-50%);
    }

}

.promotion-movie .promotion .movie-more {
    margin-top: 4rem;
}

.promotion-movie .promotion .movie-more::after {
    content: "";
    display: block;
    width:8rem;
    height:3px;
    background: #fff;
    margin-top: 4rem;
}

.promotion-movie .promotion .movie-more>a {
    padding-right: 4.5rem;
    background: url(../images/icon-arrow-45deg.svg) no-repeat 100% center;
}

.promotion-movie video{
    width:80%;
    border-radius: 4rem;
}

.news-list{
    display: flex;
    justify-content: space-between;
    gap:4rem;
}
.news-list>li{
    padding:14rem 4rem;
    border-radius: 3rem;
    font-size:1.6rem;
    position: relative;
    background: url(../images/bg-new-bottom.png)right bottom no-repeat, url(../images/bg-new-top.png)right top no-repeat;
    word-break: keep-all;

    .date{
        position:absolute;
        right:0;
        top:0;
    }

}
.news-list>li .news-desc{
        line-height: 1.5;
    }


.news-list>li:nth-child(2n+1){
    background-color: #8f8f8f;
    color:#fff
}
.news-list>li:nth-child(2n){
    background-color: #d9d9d9;
}
.news-list>li .date{
    position:absolute;
    right:0;
    top:0;
    padding:16px 5.4rem;
    border-radius: 4rem;
}

.news-list>li:nth-child(2n+1) .date{
    background-color: #8f8f8f;
}

.news-list>li:nth-child(2n){
    background-color: #8f8f8f;
}

.news-list>li .news-title{
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.news-list>li .news-desc{}
.news-list>li .more-btn{
    position:absolute;
    right:0;
    bottom:0;
}

/* .scd-wrap{} */
.scd-wrap{
    background: #d9d9d9;
    position:relative;
    /* background: #d9d9d9 url(../images/bg-scd.png) no-repeat 90px; */
    /* background-size:1600px; */
}

.scd-wrap::before{
    content:"";
    display:block;
    width:50%;
    height:470px;
    background-color: #e5e5e5;
    position:absolute;
    top:9rem;
}
.scd-wrap .inner{
    position: relative;
    background: url(../images/bg-scd.png) no-repeat 0 90px;
    background-size: 1450px;
}
.scd-list{
    display:flex;
    justify-content: flex-end;
    margin-top:8rem;
}
.scd-list>li{
    margin-left:-4rem;
}
.scd-list>li>a{
    display:block;
    /* border:1px solid red; */
    width:430px;
    height:430px;
    border-radius: 50%;
    font-size:1.8rem;
    background-color:rgba(0,0,0,0.3);
    padding:8rem;
    backdrop-filter: blur(7px);
    box-shadow: inset 0 1px 1px rgba(255,255,255,1,1);
}


.scd-list>li:first-child>a{}
.scd-list>li:nth-child(2)>a{
    background-color: rgba(217,217,217,0.3);
}
.scd-list>li:nth-child(3)>a{

}
.scd-list>li>a .category{
    color:var(--main-color);
    background: url(../images/icon-arrow-45deg-red.svg) no-repeat 100% center;
    padding-right:4rem;
}
.scd-list>li>a .scd-title{
    font-size:3.2rem;
    font-weight: 600;
    margin:3rem 0 5rem;
    color:#fff;
}

.scd-list>li>a .scd-title span{
    display:block;
    margin-bottom: 10px;
}

.scd-list>li:nth-child(2)>a .scd-title{
    color:#292929;


}
.scd-list>li>a .scd-des{
    color:#fff;
}

.scd-list>li:nth-child(2)>a .scd-des{
    color:#292929;
}

.aside-menu {
    position: fixed;
    top: 400px;
    right: 30px;
    font-size: 1.6rem;
}

.aside-menu>li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    line-height: 1.6;
}

.aside-menu>li>.active {
    color: var(--main-color);
}

.aside-menu>li::after {
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.aside-menu>li.active::after {
    display: block;
}